* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;

}

.bgBlack {
    background-color: black;
}

.colorOrange {
    color: orange;
}

.colorWhite {
    color: white;
}

.visibilityHidden {
    visibility: hidden;
}

.bgGray {
    background-color: gray;
}

.bgOrange {
    background-color: orange;
}

.width200px {
    width: 200px;
}

.bgWhite {
    background-color: white;
}

.cursorPointer {
    cursor: pointer;
}
.textCenter {
    text-align: center;
}

.dFlex {
    display: flex;
}

.btnStyle {
    padding: 20px;
    background-color: orange;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    transition: transform 1s ease;
}
.btnStyle:hover {
    transform: scale(1.1);
}
.nav1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(36, 32, 32);
    color: white;
    padding: 15px;
}

.nav1-secondicons-language {
    color: orange;
}

.nav1 h4:hover {
    color: orange;
    cursor: pointer;
    transition: .5s ease;
}

/* Section 1 */

.section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    background: url(./images/wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-color: black;
    height: 90vh;
}

.section1-logo img {
    border-radius: 50%;
}

.section1-nav {
    position: sticky;
    top: 0;
}

.section1-navbar {
    color: white;
}

.hoverOrange:hover {
    color: orange;
    cursor: pointer;
}

.section1-navbar-home, .section1-navbar-about, .section1-navbar-rooms-suites, .section1-navbar-blog {
    position: relative;
    cursor: pointer;
}

.section1-navbar-home:hover .home-content {
    display: block;
}

.section1-navbar-about:hover .about-content {
    display: block;
}
.section1-navbar-rooms-suites:hover .room-content {
    display: block;
}
.section1-navbar-blog:hover .blog-content {
    display: block;
}
.home-content, .about-content, .room-content, .blog-content {
    position: absolute;
    top: 40px;
    border: 1px solid black;
background-color: orange;
width: 200px;
display: none;
color: white;
}

.home-content-text:hover {
    background-color: black;
    transition: .5s ease;

}
.home-content-text:hover .visibilityHidden {
    visibility: visible;
}
.about-content-text:hover {
    background-color: black;
    transition: .5s ease;

}
.about-content-text:hover .visibilityHidden {
    visibility: visible;
}
.room-content-text:hover {
    background-color: black;
    transition: .5s ease;

}
.room-content-text:hover .visibilityHidden {
    visibility: visible;

}
.blog-content-text:hover {
    background-color: black;
    transition: .5s ease;

}
.blog-content-text:hover .visibilityHidden {
    visibility: visible;
}
.section1-logo i {
    color: orange;
    font-size: 3rem;
}

.section1-title {
    margin-top: 100px;
}


.section1-title h1:hover {
    color: orange;
    cursor: pointer;
}

.section1-title h6 {
    font-size: 20px;
}

.section1-description {
    color: white;
   
}

.section1-description .section1-rows-center{
    color: white;
}

.section1-description .section1-rows-center a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}

.section1-description .section1-rows-center a:nth-child(1) {
    color: orange;
    border-bottom: 2px solid white;
}

.section1-description .section1-rows-center a:nth-child(2):hover {
    color: orange;
    border-bottom: 2px solid white;
}

.section1-description .section1-rows-center a:nth-child(3):hover {
    color: orange;
    border-bottom: 2px solid white;
}

.section1-description .section1-rows-center{
    margin-right: 100px;
}

.section1-description .section1-description-phone {
    border: 2px solid white;
    border-radius: 25px;
}

.section1-rows-right i {
    border: 2px solid white;
    border-radius: 25px;
    padding: 20px;
    cursor: pointer;
}

.section1-rows-right i:hover {
    background-color: orange;
}

.section1-logo img {
    width: 100px;
    height: 100px;
}

/* Section 2 */

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(244, 244, 244);

}

.section2-left-side {
    position: relative;
}

.section2-left-side p {
    width: 400px;
}

.section2-left-side h4 {
    font-size: 2rem;
}

.section2-left-side h1 {
    font-size: 2rem;
}

.section2-left-side-officer {
    display: flex;
}
hr {
    width: 200px;
    border-bottom: 3px solid gray;
    
}
.section2-left-side-officer img {
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px black;
    width: 100px;
    height: 100px;
}
.section2-left-side-reservation {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    top: 650px;
    border: 1px solid rgb(238, 238, 238);
    background-color: white;
}

.section2-left-side-reservation h4 {
    font-size: 1.3rem;
}
.check-availability {
    display: flex;
    color: white;
}
.check-availability:hover {
    background-color: black;
    transition: background-color .3s linear;
}
/* Section 3 */

.section3 {
    margin-top: 100px;
    background-color: rgb(218, 208, 208);
}

.section3-rooms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section3 .room {
    margin-top: 25px;
    position: relative;
}
.section3 .room3 {
    background: url(images/section3room3.webp);
    background-size: cover;
    width: 100%;
    height: 60vh;
}

.section3 .room2 {

    background: url(images/section3room2.webp);
    background-size: cover;
    width: 100%;
    height: 60vh;
}

.section3 .room1 {
    background: url(images/section3room1.jpg);
    background-size: cover;
    width: 100%;
    height: 60vh;
}


.room-description {
    border: 2px solid gray;
    width: 350px;
    position: absolute;
    bottom: 0px;
    background-color: white;
}

.room-top{
    height: 100px;
}

.room-top h6 {
    font-size: 1rem;
}
.room-bottom{
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    display: none;
}

.room:hover .room-bottom {
display: flex;
}

.room-description {
    transition: 1s ease;
}

.room-bottom-descriptions {
    display: flex;
}

.room-bottom-icons i {
    background-color: gray;
    border-radius: 25px;
    color: white;
    padding: 10px;

}

.room-bottom-star {
    display: flex;
    background-color: orange;
    color: white;
    padding: 5px;
}

.circle {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}
.circle2:hover {
    background-color: orange;
}
.circle3:hover {
    background-color: orange;
}
.section3-end-icons {
    display: flex;
    margin-top: 20px;
    cursor: pointer;
}
.section3-end-icons i {
    font-size: 2.3rem;
}

/* Section 4 */

.section4 {
    background-color: rgb(244, 244, 244);


}
.section4-title {
    margin-top: 30px;
}
.section4-facilities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
}

.row-box {
    border: 1px solid gray;
    padding: 20px 10px;
    height: 250px;
    background-color: white;
}

.row-box i {
    font-size: 3rem;
    color: orange;
}

.section4-facilities img {
    width: 100%;
    height: 300px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

/* Section 5  */

.section5 {
    background-color: rgb(218, 208, 208);
}

.section5 a {
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
}

.section5-rooms-best-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section5-room {
    display: flex;
    margin-top: 30px;
}

.section5-room-description {
    border: 1px solid white;
    background-color: white;
}
.section5-room-img {
    margin-top: 70px;
}

@keyframes btnStyle {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* Section 6  */

.section6 {
    background-color: rgb(244, 244, 244);
}

.section6-title-helpline {
    background-color: white;
    border-radius: 60px;
}
.section6-title-helpline i {
    background-color: orange;
    border-radius: 50%;

}

.section6-first-title h1 {
    width: 700px;
    font-size: 3rem;
}

.section6-left-side {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.section6-left-side button {
    padding: 20px;
    border: none;
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgb(205, 198, 198);
}

.section6-left-side button:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
    transition: .5s ease;
}

.section6-left-side button:hover span {
    color: white;
    transition: .5s ease;
}

.section6 span {
    font-size: 1rem;
    color: gray;
}

.section6 button:nth-child(1) {
    background-color: orange;
    color: white;
}
.section6-right-side {
    display: flex;

}
.section6-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
   margin-top: 30px;
}

.section6 img {
    width: 100%;
    height: 500px;
}

.section6-right-side-text {
    height: 500px;
}

.fontsize2rem {
    font-size: 2rem;
}

.accomodation-text {
    margin-top: 30px;
    border-bottom: 1px solid orange;
    width: 200px;
}

.accomodation-text:hover h4 {
    color: orange;
    transition: .5s ease;
}

/* Footer */

.footerColor {
    background-color: rgb(56, 56, 56);
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-top img {
    border-radius: 50%;
}

.email-logo , .reservations-logo {
    border-radius: 50%;
}

.footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bottom-newsletter form {
    border: 1px solid white;
    width: 350px;
    background-color: black;
}

.bottom-newsletter form input::placeholder {
    color: white;
}

.bottom-newsletter form input:focus {
    border: none;
    outline: none;
    color: white;
}
.bottom-newsletter form input {
    border: none;
    background-color: transparent;
}

.bottom-newsletter button {
    transition: transform 1s linear;

}
.bottom-newsletter button:hover {
    transform: scale(1.1);
}

.bottom-newsletter form input button {
border: none;
}

.footer-bottom h1 {
    border-bottom: 1px solid orange;
}

.explore-texts p:hover {
    color: orange;
    cursor: pointer;
    transition: color .6s linear;
}

.footer-all-rights-socials h4:hover {
    color: orange;
    transition: color .6s linear;
    cursor: pointer;
}

@media (max-width:600px) {
    .nav1 {
        display: none;
    }
    
    .section1-nav {
        flex-direction: column;
    }

    .section1-title h1 {
        font-size: 0.5rem;
    }

    .section1-navbar {
        font-size: 0.7rem;
    }

    .section1 {
        padding: 10px;
    }

    .contact-us-text {
        display: none;
    }


    .section2-left-side-reservation {
        display: none;
    }

    .section2 img {
        width: 100%;
    }

    .section5 img {
        width: 100%;
    }

    .section2 {
        grid-template-columns: 1fr;
    }

    .section3-rooms {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .section4-facilities {

        display: grid;
        grid-template-columns: 1fr;
    }

   .section5-rooms-best-price {
    grid-template-columns: 1fr;;
   }

   .section5-room {
 flex-direction: column;
   }

   .section6-content {
    grid-template-columns: 1fr;
   }

   .section6-title {
    display: grid;
    grid-template-columns: 1fr;
   }

   .section6-first-title h1 {
    width: 300px;
   }

   .section1-description {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
   }

   .section1-rows-right {
    display: none;
   }

 
   .section6-title-helpline      {
    width: 300px;
   }
   

   .section6-right-side h4 {
    font-size: 1rem;
   }

   .section6-right-side {
    font-size: 1rem;
   }

   .footer-top {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
   }

   .footer-bottom {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;

}

   .footer-all-rights {
    flex-direction: column;
    gap: 1rem;
   }

   .footer-all-rights-socials {
    flex-direction: column;
   }
    
}
